@import 'text.css';
@import "blueprint/form";
@import 'reset.css';
@import "compass/utilities";
@import "compass/typography";
@import "compass/css3";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:200,400,600,700,200italic,400italic,500italic,600italic);
//////////////////////////////////////////////////////////////////////
////////////////////////MIXINSSS//////////////////////////////////////
//////////////////////////////////////////////////////////////////////
@mixin degradoOver{
	background: rgb(2,62,86); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAyM2U1NiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMTI4MzMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(2,62,86,1) 0%, rgba(1,40,51,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(2,62,86,1)), color-stop(100%,rgba(1,40,51,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(2,62,86,1) 0%,rgba(1,40,51,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(2,62,86,1) 0%,rgba(1,40,51,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(2,62,86,1) 0%,rgba(1,40,51,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(2,62,86,1) 0%,rgba(1,40,51,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#023e56', endColorstr='#012833',GradientType=0 ); /* IE6-8 */
}
@mixin degradoSimple{
// needs latest Compass, add '@import "compass"' to your scss
background-color: rgb(70,130,125); // Old browsers
@include filter-gradient(#46827d, #013d3b, vertical); // IE6-8
// IE9 SVG, needs conditional override of 'filter' to 'none'
$experimental-support-for-svg: true;
@include background-image(linear-gradient(top,  rgba(70,130,125,1) 0%,rgba(1,61,59,1) 100%));
}
/////////////////////////////////////////////////////////////////////

body {
	font-family: sans-serif;
	background-color: rgba(0, 0, 0, 0.8);
	//font-family: 'Source Sans Pro', sans-serif;
	font-family: 'Open Sans', sans-serif;
	margin:0;
	padding:0;
	background-image:url(../images/pat2/22.jpg);
	height:98%;
}
#conte{
	margin: 16px;
	min-height: 90%;
	background-color: rgba(255, 255, 255, 0.95);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
	@include border-radius(5px 5px 180px 5px);
	@include box-shadow(black 2px 2px 10px);
	//background-image: url(../images/pat2/galpon.png);
	//background-repeat: no-repeat;
	//background-position: center;
	overflow: hidden;
}
.clear{
	clear:both;
}
header{
	border-bottom:1px solid black;
	background-color: rgba(0, 0, 0, 0.85);
	@include border-radius(5px 5px 0px 0px);
	.logo{
		float:left;
		a{
			background:none;
		}
		&:hover{
			background:none;
		}
	}
	.log{
		float: right;
		padding-top: 48px;
		padding-right: 8px;
		color: white;
	}
}
a{
	text-decoration: none;
	color: white;
	@include degradoSimple;
	padding: 10px;
	@include border-radius(9px 0px);
	font-size: 14px;
	font-style: italic;
}
a:hover{
		@include degradoOver;
}
section {
	margin:10px;
	padding:10px;
	font-size:13px;
	input{
		padding:0px;
                @include border-radius(4px, 4px);
                 @blueprint-form-borders;
	}
	label{
		padding:0px;
	}
}
.footer{
	background: black;
	margin: 10px 0px;
	padding: 12px;
	font-size: 12px;
	line-height: 36px;
	color:white;
	p{
		float:left;
		margin:0px;
		padding:0px;
	}
	.visitSite{
		float:right;
	}
}
/*estilos*/
.zend_form {
	dd{
		margin:0;
		input[type="text"]{
			width:40%;
		}
                select{
			width:30%;
		}
		.botonEnviar{
			padding: 10px 0;
		}
	}
        dt{
                font-weight:bold;
        }
	.errors{
		li{
		background:red;
		color:white;
		margin:0px;
		padding:0px;
		}
	}
}
#foto1 , #foto2, #foto3{
	width:128px;
}
#multiselect1-label,#multiselect2-label,#multiselect3-label,#multiselect4-label,#multiselect5-label,#multiselect6-label{
    display:none;
}
#multiselect1-element{
	width:230px;
	overflow:hidden;
	position: absolute;
	top: 580px;	
	margin-left:150px;
	#multiselect1{
		display: none;
		width: 250px;
		//min-height: 250px;
		margin: 0px;
		padding: 5px 8px 5px 5px;
	
	}
}
#multiselect2-element{
	width:230px;
	overflow:hidden;
	position: absolute;
	top: 580px;	
	margin-left:150px;
	#multiselect2{
		display: none;
		width: 230px;
		min-height: 250px;
		margin: 0px;
		padding: 5px 8px 5px 5px;
	
	}
}
#multiselect3-element{
	width:230px;
	overflow:hidden;
	position: absolute;
	top: 580px;	
	margin-left:150px;
	#multiselect3{
		display: none;
		width: 230px;
		min-height: 250px;
		margin: 0px;
		padding: 5px 8px 5px 5px;
	
	}
}
#multiselect4-element{
	width:230px;
	overflow:hidden;
	position: absolute;
	top: 580px;	
	margin-left:150px;
	#multiselect4{
		display: none;
		width: 230px;
		min-height: 250px;
		margin: 0px;
		padding: 5px 8px 5px 5px;
	
	}
}
#multiselect5-element{
	width:230px;
	overflow:hidden;
	position: absolute;
	top: 580px;	
	margin-left:150px;
	#multiselect5{
		display: none;
		width: 230px;
		min-height: 250px;
		margin: 0px;
		padding: 5px 8px 5px 5px;
	
	}
}
#multiselect6-element{
	width:230px;
	overflow:hidden;
	position: absolute;
	top: 580px;	
	margin-left:150px;
	#multiselect6{
		display: none;
		width: 230px;
		min-height: 250px;
		margin: 0px;
		padding: 5px 8px 5px 5px;
	
	}
}
#ndocumentoMadre-element{
    border-bottom: 1px solid black;
    margin-bottom: 16px;
    padding-bottom: 16px;
}
#namepadre-label{
    border-top: 1px solid black;
    margin-top: 16px;
    padding-top: 16px;
}
#tipoMadre,#tipoPadre,#tipoD{
    width:50px;
}
.botonCerrarFormu{
	@include degradoSimple;
	color:white;
	line-height: 38px;
	.boton-aceptar{
		padding:11px 15%;
		cursor:pointer;
		&:hover{
			background: #333;
		}
	}
	.boton-cancelar{
		padding:11px 15%;
		cursor:pointer;
		@include degradoOver;
		&:hover{
			background: #333;
		}

	}
}
.leyedapop{
	background: gray;
	color: black;
	padding: 5px 9px;
	font-size: 11px;
}
.IndexText{
	display: block;
	min-height: 300px;
	float:left;
	h1{
		text-align: left;
		font-size: 30px;
		padding-top: 8px;
		margin: 0 0 5px;
		font-weight: 400;
		letter-spacing: -2px;
	}
	p{
		font-size: 15px;
		text-align: start;
		font-weight: 600;
		color: black;
		font-style:italic;
		width:376px;
		line-height:23px;
		display: block;
		margin:24px 0;
	}
	a{
		clear:both;
	}
}
#submit{
	text-decoration: none;
	color: white;
	//text-shadow: white 0 2px 0;
	@include degradoSimple;
	padding: 10px;
	@include border-radius(9px 0px);
	font-size: 14px;
	font-style: italic;
	border: none;	
	&:hover{
		@include degradoOver;
	}
}