@import 'reset.css';
@import 'text.css';
@import "compass/utilities";
@import "compass/typography";
@import "compass/css3";

body {
	font-family: sans-serif;
	background-color: rgba(0, 0, 0, 0.8);
}
header {
	min-height:90px;
	border-bottom: 1px solid #121212;
	padding:10px
}
#conte{
	border: 1px solid #121212;
 	color:#fff;
	width:50%;
	//padding:10px 2%;
	margin:0px auto;
	background-color: rgba(0, 0, 0, 0.4);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
	@include border-radius(5px);
	.contelinks{
		width:194px;
		margin:0px auto;
		.linksHome{
			float:left;
		}
		.separador{
			width: 16px;
			float: left;
			padding: 1px;
			text-align: center;
			font-size: 13px;
		}
	}
}
.clear{
	clear:both;
}
.logo{
	float:left;
	img{
		width:100px;
	}
}
.log{
	float: right;
	padding-top: 65px;
}
a{
	text-decoration:none;
	color: grey;
	text-shadow: rgba(0, 0, 0, 1) 0 2px 0;	
}
a:hover{
	color: white;
	text-shadow: rgba(0, 0, 0, 1) 0 2px 0;			
}
section {
	min-height:25px;
	margin:10px;
	padding:10px;
	font-size:13px;
	input{
		padding:0;
	}
	label{
		padding:4px;
	}
}
.footer{
	background-color: rgba(0, 0, 0, 0.4);
	min-height:20px;
	margin: 10px 0;
	padding: 1px 10px;
	font-size:12px;
}
/*estilos*/
h1 {
	text-align: center;
}
h2 {
	text-align: center;
}
.zend_form {
	dd{
		margin:0;
		input{
			//width:100%;
		}
		.botonEnviar{
			padding: 10px 0;
		}
	}
	.errors{
		li{
		background:red;
		color:white;
		margin:0px;
		padding:0px;
		}
	}
}
#foto1 , #foto2, #foto3{
	width:128px;
}
#multiselect1{
	width:40%;
	min-height:250px;
	margin:0px auto;
}